{% extends "base.html" %}
{% load static %}
{% block title %}検索{% endblock %}
{% block page_title %}~点数一覧＆検索~{% endblock %}
{% block header_id %}header_toukuten{% endblock %} 
{% block contents %}
    <div class="toukuten_form">
        <div class="container">
            <form method="GET">
                <input type="text" name="query" class="post_text" placeholder="検索する">
                <button type="submit">🔍</button>
            </form>
            <p class="sub-title">※科目別に点数を検索することができます。</p>
        </div>
    </div>        <!-- 投稿一覧 -->
    <div class="post_div">
        <div class="container">
            <p class="post_detail_p">~科目＆点数一覧~</p>
            {% if posts %}
                <ul>
                    {% for post in posts %}
                        <li class="post_detail">
                            <h4>科目: {{ post.subject }}</h4>
                            <p>点数: {{ post.num }}点</p>
                            <small>投稿日時: {{ post.posted_at }} 投稿者: {{ post.user.username }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>現在、掲示板には投稿がありません。</p>
            {% endif %}
        </div>
    </div>
{% endblock %}